@media (min-width: 1835px){
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1735px;
        }
    }
body {
    @font-face {
        font-family: ubt;
        src: url(../fonts/Ubuntu-Regular.ttf);
    }
    // font-family: 'ubt';
    font-size: 16px;
    font-weight: 400;
    ul {
        margin-bottom: 0;
    }
    ul li {
        list-style: none;
    }
    ins {
        text-decoration: none;
    }
}


